body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-image: url('https://www.publicdomainpictures.net/pictures/530000/t2/businessman-and-falling-money-1693314002MsR.jpg');
    margin: 0; 

}

h1 {
    color: white;
    margin-left: 800px;
    margin-top: 100px;
    
}

li {
    color: white;
    font-style: italic;
    font-size: 30px;
}

.field {
    color: white;
}

#donation-form {
    background-color: #a32222;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

.btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer; 
    margin-left: 30px;
}

.btn:hover {
    background-color: darkgreen; 
}
#card-container {
    color:aliceblue;
}