
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-image: url('https://www.publicdomainpictures.net/pictures/220000/velka/jetty-in-calm-waters-1493549775toN.jpg'); 

  }

li {
  color:green;
  font-style: italic;
  font-size: 30px
}

.field {
  color: blue;
}

.btn{
  background-color:green;
  color:white;
}
